.project-scope-page {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.project-scope-page .project-scope {
  padding-top: 4rem;
  padding-bottom: 4rem;
} 